.program_card{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc((100% - 40px) / 3);
  height: auto;
}

.program_card > img {
  width:100%;
  height: auto;
}

.program_card_details > h4 {
  font-size: var(--heading-5);
}

.program_card_details > p {
  font-size: var(--paragraph-3);
}

.program_card_details > a {
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
  display: inline-block;
}

@media (max-width: 825px) {
  .program_card {
    flex: 0 0 calc((100% - 20px) / 2)
  }
}

@media (max-width: 600px) {
  .program_card {
    flex: 0 0 100%;
  }
}
