.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover-color);
    
}

.navbar ul {
    list-style: none;
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* height: 150px; */
    font-size: 25px;
}
.navbar li {
    display: flex;
}

.navbar a {
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 150ms ease;
}

.navbar a:hover {
    background-color: var(--hover-color);
}

.navbar li:first-child {
    margin-right: auto;
}

#openSidebarButton {
    display: block;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#closeSidebarButton {
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-out;
    }

    .navbar .show {
        right: 0;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        /* align-items: flex-start ; */
        
    
    }

    .navbar a {
        width: 100%;
    }
}