.hero {
    position: relative;
    min-height: 100vh;
    height: auto;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    padding: 24px;
    z-index: 0;
    /* border: 2px solid red; */

  /* darken + image */
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("/images/hero.jpeg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content {
    width: min(900px, 92%);
    padding-bottom: 250px;
    /* border: 2px solid red; */
}

.content h1 {
  /* font-size: clamp(2rem, var(--heading-1), 3.25rem); */
  font-size: var(--heading-1);
  /* margin: 0 0 10px; */

  line-height: .6;
  text-align: left;
  color: var(--secondary-color);
}

.content p {
  /* font-size: clamp(1rem, var(--heading-3), 1.2rem); */
  font-size: var(--heading-3);
  margin: 0;
  /* opacity: 0.95; */
  text-align: left;
  color: white;
}

/* Second Section */



/* mobile fallback */

@media (max-width: 920px) {
    /* .content {
        padding-bottom: 0px;
    } */
    .content h1 {
        font-size: var(--heading-2);
    }

    .content p {
        font-size: var(--heading-4);
    }
}


@media (max-width: 824px) {
    .hero{
        min-height: 60vh;
    }
}


@media (max-width: 768px) {
  .hero {
    min-height: 0;
    height: calc(100vh - 110px); 
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
  }
  
  .content {
    padding-bottom: 50px;
  }

    .content h1 {
        font-size: var(--heading-3);
        line-height: 1.5;
    }

    .content p {
        font-size: var(--heading-5);
    }
}

@media (max-width: 450px) {
    .hero {
        height: 65vh;
    }
}