/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071ff;
  --text-color: #c9c9c9;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
