
:root {
  --primary-color: #247F23;
  --secondary-color: #FFBD59;
  --hover-color: #272832;
  --accent-color: #0071ff;
  --text-color: #c9c9c9;
  --heading-1: 56px;
  --heading-2: 40px;
  --heading-3: 26px;
  --heading-4: 24px;
  --heading-5: 22px;
  --heading-6: 18px;
  --paragraph-1: 22px;
  --paragraph-2: 18px;
  --paragraph-3: 16px;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;

}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
