
.welcome_section {
  /* border: 2px solid blue; */
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
}

.welcome_left {
  width: 15%;
  height: auto;
  /* border: 2px solid red; */
}

.welcome_upper_left {
  /* width: 50%; */
  height: 40%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.welcome_upper_left svg{
  height: 100px;
}

.welcome_lower_left {
  height: auto;
  /* border: 2px solid red; */
}

.welcome_lower_left hr{
  width: 50%;
  color: var(--primary-color);
}

.side_bar {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid black; */
  height: auto;
  gap: 20px;
  padding: 15px 50px;
  text-align: center;
  line-height: 1.7;
}



.sidebar img {
  width: 100px;
  height: 100px;
}

.welcome_right {
  width: 85%;
  /* border: 2px solid green; */
  height: auto;
}

.welcome_upper_right {
  background-color: var(--primary-color);
  height: 40%;
  /* border: 2px solid red; */
  /* padding: 30px 80px;
   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  line-height: .6;

}

.welcome_upper_right h2 {
  font-size: var(--heading-2);
  color: white;
}

.welcome_lower_right {
  display: flex;
}

.welcome_lower_right_leftside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* border: 2px solid red; */
  background-color: var(--secondary-color);
}

.welcome_lower_right_leftside h2 {
  font-size: var(--heading-2);
  text-align: center;
  color: var(--primary-color);
}

.welcome_lower_right_leftside li {
  /* border: 2px solid red; */
  font-size: var(--paragraph-2);
  color: var(--primary-color);
}

.welcome_lower_right_rightside{
  /* border: 2px solid blue; */
  width: 50%;
  height: auto;
}

.welcome_lower_right_rightside iframe{
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100%; */
  display: block;
}

/* Mobile */

@media (max-width: 825px) {
  .welcome_upper_right h2{
    font-size: var(--heading-3);
  }

  .welcome_lower_right_leftside h2{
    font-size: var(--heading-3);
  }

  .welcome_lower_right_leftside li {
    font-size: var(--paragraph-3);
  }
}

@media (max-width: 600px) {
  .welcome_section {
    /* border: 2px solid red; */
    width: 100%;
    flex-direction: column-reverse;
  }

  .welcome_right {
    width: 100%;
    /* border: 2px solid red; */
  }

  .welcome_upper_right{
    /* border: 2px solid red; */
    padding: 20px;
  }

  .welcome_lower_right {
    flex-direction: column;
  }
  .welcome_lower_right_leftside {
    width: 100%;
    padding: 20px;
  }
  .welcome_lower_right_leftside h2{
    /* border: 2px solid red; */
    /* width: 100%; */
    text-align: left;
    /* padding-right: 50px; */
    margin: 0;
  }

  .welcome_lower_right_rightside {
    /* border: 2px solid red; */
    width: 100%;
  }

  .welcome_left {
    /* border: 2px solid red; */
    width: 100%;
  }

  .welcome_upper_left {
    display: none;
  }

  .welcome_left img{
    width: 170px;
    height: 130px;
  }

  .welcome_lower_left {
    padding: 30px 0;
  }

  .welcome_lower_left hr {
    max-width: 230px;
  }

  /* .side_bar {
    padding: 30px 50px;
  } */
}

@media (max-width: 450px) {
  .welcome_upper_right h2{
    /* border: 2px solid red; */
    font-size: var(--heading-4);
    line-height: 1;
    margin: 10px;
  }

  .welcome_lower_right_leftside {
    height: 35vh;
  }

  .welcome_lower_right_rightside {
    /* border: 2px solid red; */
    /* height: 100vh; */
  }
}