.event_card{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc((100% - 40px) / 3);
  height: auto;
}

.event_card > img {
  width:100%;
  height: 250px;
  
}

.event_card_details > h4 {
  font-size: var(--heading-5);
  color: var(--primary-color);
}

.event_card_details > p {
  font-size: var(--paragraph-3);
}


@media (max-width: 825px) {
  .event_card {
    flex: 0 0 calc((100% - 20px) / 2)
  }
}

@media (max-width: 600px) {
  .event_card {
    flex: 0 0 100%;
  }
}

@media (max-width: 390px) {
  .event_card_details > h4 {
    font-size: var(--heading-m-3);
  }

  .event_card_details > p, .event_card_details > a{
    font-size: var(--paragraph-m-1);
  }
}